body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.container {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0;
}

section {
    flex: 4;
    padding: 25px 15%;
}

header {
    display: flex;
    padding: 0 15%;
}

ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #3882f6;
    text-decoration: underline;
}

header, footer {
    flex: 1;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
}

/* Intro section */

.hero {
    display: flex;
    gap: 20px;
}

div {
    flex: 1;
}

h1 {
    font-size: 34px;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}

.intro p {
    color: #e5e7eb;
}

/* sign-up link colors */

.sign-up {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 5px 25px;
    border-radius: 10px;
}

.sign-up:hover {
    background-color: #e5e7eb;
    color: #3882f6;
    text-decoration: none;
}

.placeholder {
    background-color: grey;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* info section */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.info-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

div.image {
    border: 2px solid #3882f6;
    border-radius: 15px;
}

div.info-image {
    display: flex;
    flex-direction: column;
}

/* quote section */

.quotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p.quote {
    font-size: 36px;
    font-style: italic;
    padding: 0;
    margin: 0;
}

p.quoter {
    align-self: flex-end;
    font-weight: bold;
}

/* action sign up section */

.action-container {
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 0 25px;
    border-radius: 15px;
}

.action-container .sign-up {
    border: 1px solid #f9faf8;
    flex: 0 1 auto;
    margin-top: auto;
    margin-bottom: auto;
}

/* background colors */

.dark {
    background-color: #1f2937;
}

.white {
    background-color: white;
}

.grey {
    background-color: #e5e7eb;
}
